.wanker-marketing-marketing {
  background-color: #DBE2ED;
  border-top: 0; }
  .wanker-marketing-marketing .content h1, .wanker-marketing-marketing .content h2, .wanker-marketing-marketing .content h3, .wanker-marketing-marketing .content p {
    text-shadow: 0 1px 1px #FFF; }
  .wanker-marketing-marketing .content a {
    color: #1d65db; }
  .wanker-marketing-marketing .content section {
    margin-bottom: 3em; }
  .wanker-marketing-marketing .chicago-flag p {
    border-bottom: none; }

.wanker-marketing-introduction {
  margin-top: 2em; }

.wanker-marketing-logo {
  height: auto;
  margin-bottom: .5em;
  max-width: 200px; }

.wanker-marketing-emoji {
  height: auto;
  margin-bottom: .5em;
  width: 24px; }

.wanker-marketing-download img {
  bottom: -5px;
  position: relative;
  height: auto;
  width: 24px; }

.wanker-marketing-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  background: -moz-linear-gradient(90deg, #b6e74d 0%, #8fd13e 25.6%, #8acf43 79.9%, #4ab947 100%) #8fd13e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b6e74d), color-stop(0.256, #8fd13e), color-stop(0.799, #8acf43), to(#4ab947)) #8fd13e;
  display: inline-block;
  padding: .25em .75em;
  position: relative; }
  .wanker-marketing-text img {
    display: inline-block;
    height: auto;
    width: 24px; }

.wanker-marketing-text-reflection {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.76) 100%) rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.76))) rgba(255, 255, 255, 0);
  height: 12px;
  opacity: 1;
  left: 5%;
  position: absolute;
  top: 3px;
  width: 90%;
  z-index: 10; }

.wanker-marketing-marketing .highlight {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #edf1f6;
  border: 1px solid #cbd5e4;
  margin-bottom: 2em;
  overflow: scroll;
  padding: .5em 1em; }
  .wanker-marketing-marketing .highlight .hll {
    background-color: #ffffcc; }
  .wanker-marketing-marketing .highlight .c {
    color: forestgreen; }
  .wanker-marketing-marketing .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .wanker-marketing-marketing .highlight .k {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .cm {
    color: forestgreen; }
  .wanker-marketing-marketing .highlight .cp {
    color: #1e889b; }
  .wanker-marketing-marketing .highlight .c1 {
    color: forestgreen; }
  .wanker-marketing-marketing .highlight .cs {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .gd {
    color: #aa0000; }
  .wanker-marketing-marketing .highlight .ge {
    font-style: italic; }
  .wanker-marketing-marketing .highlight .gr {
    color: #aa0000; }
  .wanker-marketing-marketing .highlight .gh {
    color: #000080;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .gi {
    color: #00aa00; }
  .wanker-marketing-marketing .highlight .go {
    color: #888888; }
  .wanker-marketing-marketing .highlight .gp {
    color: #555555; }
  .wanker-marketing-marketing .highlight .gs {
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .gt {
    color: #aa0000; }
  .wanker-marketing-marketing .highlight .kc {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .kd {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .kn {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .kp {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .kr {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .kt {
    color: #a7a7a7;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .m {
    color: #b452cd; }
  .wanker-marketing-marketing .highlight .s {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .na {
    color: #658b00; }
  .wanker-marketing-marketing .highlight .nb {
    color: #658b00; }
  .wanker-marketing-marketing .highlight .nc {
    color: #008b45;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .no {
    color: #00688b; }
  .wanker-marketing-marketing .highlight .nd {
    color: #707a7c; }
  .wanker-marketing-marketing .highlight .ne {
    color: #008b45;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .nf {
    color: #008b45; }
  .wanker-marketing-marketing .highlight .nn {
    color: #008b45;
    text-decoration: underline; }
  .wanker-marketing-marketing .highlight .nt {
    color: #8B008B;
    font-weight: bold; }
  .wanker-marketing-marketing .highlight .nv {
    color: #00688b; }
  .wanker-marketing-marketing .highlight .ow {
    color: darkmagenta; }
  .wanker-marketing-marketing .highlight .w {
    color: #bbbbbb; }
  .wanker-marketing-marketing .highlight .mf {
    color: #b452cd; }
  .wanker-marketing-marketing .highlight .mh {
    color: #b452cd; }
  .wanker-marketing-marketing .highlight .mi {
    color: #b452cd; }
  .wanker-marketing-marketing .highlight .mo {
    color: #b452cd; }
  .wanker-marketing-marketing .highlight .sb {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .sc {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .sd {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .s2 {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .se {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .sh {
    color: #1c7e71;
    font-style: italic; }
  .wanker-marketing-marketing .highlight .si {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .sx {
    color: #cb6c20; }
  .wanker-marketing-marketing .highlight .sr {
    color: #1c7e71; }
  .wanker-marketing-marketing .highlight .s1 {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .ss {
    color: #cd5555; }
  .wanker-marketing-marketing .highlight .bp {
    color: #658b00; }
  .wanker-marketing-marketing .highlight .vc {
    color: #00688b; }
  .wanker-marketing-marketing .highlight .vg {
    color: #00688b; }
  .wanker-marketing-marketing .highlight .vi {
    color: #00688b; }
  .wanker-marketing-marketing .highlight .il {
    color: #b452cd; }

@media only screen and (min-width: 800px) {
  .wanker-marketing-introduction {
    margin-bottom: 4em;
    margin-left: 50%;
    margin-top: 4em; }

  .wanker-marketing-example {
    margin-bottom: 4em;
    margin-left: 50%; }

  .wanker-marketing-usage {
    margin-bottom: 10em;
    margin-left: 16.667%; }

  .wanker-marketing-download {
    margin-left: 33.333%;
    margin-top: 5em; }

  .wanker-marketing-share {
    margin-left: 33.333%;
    margin-top: 7em; }

  .wanker-marketing-colophon {
    margin: 10em 0 5em 33.333%;
    width: 50%; }

  .wanker-marketing-text {
    margin: 10em 0 5em 32.333%; } }
