body.bike {
  background-color: #f4f0ee;
  border-top-color: #333;
  color: #333;
  font-family: Courier, sans-serif;
  font-size: 18px;
  padding: 0; }
  body.bike h1, body.bike h2, body.bike h3 {
    color: #333;
    font-family: Courier, sans-serif;
    font-weight: bold; }
  body.bike a {
    color: #157665;
    text-decoration: underline; }
  body.bike ::-moz-selection {
    background-color: #157665;
    color: white; }
  body.bike ::selection {
    background-color: #157665;
    color: white; }
  body.bike p {
    font-size: 16px; }
  body.bike .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    max-width: 1220px;
    width: 100%; }
  body.bike span.accent {
    display: none; }
  body.bike .hero {
    position: relative; }
    body.bike .hero h1 {
      font-size: 1.75em;
      letter-spacing: -.05em;
      line-height: 1.1em;
      margin-bottom: 1em; }
    body.bike .hero figure {
      margin: 0 auto 2em;
      width: 100%; }
      body.bike .hero figure img {
        height: auto;
        margin: 0 auto;
        max-width: 100%; }
    body.bike .hero article {
      margin-bottom: 5%;
      position: relative; }
    body.bike .hero h2 {
      border-bottom: 4px solid #333;
      font-size: 1.25em;
      margin-bottom: .75em;
      padding-bottom: .25em; }
    body.bike .hero p {
      margin-bottom: 1em; }
  body.bike .vitals article {
    border-top: 4px solid #333;
    padding-top: 1em; }
  body.bike .vitals p {
    margin-bottom: 1em; }
  body.bike .vitals .price-old {
    color: #999;
    text-decoration: line-through; }
  body.bike .vitals .price-now {
    color: #157665; }
  body.bike .contact {
    margin: 4em 0; }
  body.bike .remember {
    color: #999;
    line-height: 1em;
    margin-bottom: 2em; }
    body.bike .remember p {
      font-size: 12px;
      margin-bottom: .25em; }
    body.bike .remember .gallery-navigation {
      display: none; }
  body.bike .gallery {
    border-top: 4px solid #333;
    margin: 0;
    padding-bottom: -10em;
    width: 100%; }
    body.bike .gallery img {
      height: auto;
      width: 100%; }

@media only screen and (min-width: 768px) {
  body.bike #content {
    padding: 2em; }
  body.bike span.accent {
    display: block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
    position: absolute;
    text-transform: uppercase; }
    body.bike span.accent.sale {
      right: 3em;
      top: 3em; }
    body.bike span.accent.places {
      left: -50%;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: 12em; }
    body.bike span.accent.enjoy {
      bottom: 4.5em;
      right: -12em;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      text-align: right; }
  body.bike .hero {
    position: relative;
    margin-bottom: 15%; }
    body.bike .hero h1 {
      font-size: 3.5em;
      letter-spacing: -.1em;
      line-height: .9em;
      width: 66.666666668%; }
    body.bike .hero figure {
      left: -10%;
      margin-top: 25%;
      position: absolute;
      top: 0; }
    body.bike .hero article {
      font-size: 14px;
      margin-top: 10%;
      margin-left: 33.333333332%;
      width: 66.666666668%; }
      body.bike .hero article h2 {
        border-bottom: none;
        border-top: 4px solid #333;
        font-size: 2.5em;
        padding-top: .25em;
        letter-spacing: -.1em;
        line-height: .8em;
        margin-bottom: .5em;
        padding-bottom: 0;
        word-wrap: break-word;
        width: 20%; }
      body.bike .hero article p {
        font-size: 18px; }
  body.bike .vitals {
    zoom: 1; }
    body.bike .vitals:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    body.bike .vitals article {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      font-size: 14px;
      line-height: 1.2em;
      margin-right: 2%;
      max-width: 200px;
      width: 14.66667%; }
      body.bike .vitals article h2 {
        font-size: 2.5em;
        min-height: 3em;
        letter-spacing: -.1em;
        line-height: .8em;
        margin-bottom: .5em;
        word-wrap: break-word; }
      body.bike .vitals article p {
        font-size: 14px; }
      body.bike .vitals article sup {
        display: inline-block;
        font-size: .8em;
        vertical-align: super; }
    body.bike .vitals .price-now {
      display: block;
      font-size: 3em;
      letter-spacing: -.09em;
      margin-top: .5em; }
  body.bike .contact {
    position: relative;
    margin-bottom: 10%;
    margin-left: 33.333333332%;
    width: 50%; }
  body.bike .remember {
    margin-left: 33.333333332%;
    width: 50%; }
    body.bike .remember .gallery-navigation {
      display: block;
      margin-top: 10%; }
      body.bike .remember .gallery-navigation li {
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-family: Helvetica, Arial, sans-serif;
        margin-left: -.5em;
        padding: .5em; }
        body.bike .remember .gallery-navigation li:hover {
          color: #157665; }
      body.bike .remember .gallery-navigation p {
        color: #999;
        font-size: 12px; }
  body.bike .gallery {
    overflow: hidden; }
    body.bike .gallery .photos {
      position: relative;
      left: 0; }
      body.bike .gallery .photos figure {
        left: 0;
        position: absolute;
        top: 0; }
        body.bike .gallery .photos figure:hover {
          cursor: pointer; } }
