---
title: Short essays on design by Mig Reyes
class: writes
layout: default
---

<h1>Short essays on design, craft, and culture</h1>

<aside class="sidebar">
  <div class="toggles">
    <h3>Read by</h3>
    <ul class="checkboxes">
      <li data-essay-filter="favorites"><span class="check"></span> Just my favorites</li>
    </ul>

    <ul class="radios">
      <li data-essay-filter="recent" class="selected"><span class="radio"></span> Newest first</li>
      <li data-essay-filter="shortest"><span class="radio"></span> Shortest first</li>
    </ul>
  </div>

  <h3>Shorter form</h3>
  <ul class="shortform">
    <li><a href="/thinks" title="Half-baked ideas">Stream of thoughts</a></li>
    <li><a href="http://twitter.com/migreyes">Twitter</a></li>
  </ul>
</aside>

<section class="essays">
  <ul>
  {% for essay in site.categories.writes %}
    {% if essay.svn %}
      <li{% if essay.favorite %} data-favorite{% endif %} data-words="{{ essay.content | number_of_words }}" data-date="{{ forloop.index }}">
        <a href="http://37svn.com/{{ essay.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ essay.title }}">{{ essay.title }}</a>
        {% if essay.preview %}<p>{{ essay.preview }}</p>{% endif %}
        <p>
          <small data-reading-time></small>
          <small class="svn">Written on Signal vs. Noise</small>
        </p>
      </li>
    {% else %}
      <li{% if essay.favorite %} data-favorite{% endif %} data-words="{{ essay.content | number_of_words }}" data-date="{{ forloop.index }}">
        <a href="{{ essay.url }}">{{ essay.title }}</a>
        {% if essay.preview %}<p>{{ essay.preview }}</p>{% endif %}
        <p><small data-reading-time></small></p>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

  <p>That’s it for now. I also keep a <a href="/thinks">stream of thoughts</a> and share <a href="http://twitter.com/migreyes" title="Follow me on Twitter">some on Twitter</a>.</p>
</section>