---
title: Writing
class: writes
layout: default
---

<h1>Short essays on creativity, design, and workplace culture…</h1>

<aside class="sidebar">
  <h2>Some of my favorite short essays</h2>
    <ul>
      {% for essay in site.categories.writes %}
        {% if essay.favorite %}
          {% if essay.svn %}
            <li>
              <a href="http://37svn.com/{{ essay.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ essay.title }}">{{ essay.title }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ essay.url }}">{{ essay.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

  <h2>Short form thoughts</h2>
  <p>I collect <a href="/thinks" title="Half-baked ideas">bits and ideas</a> not quite ready for essays and <a href="http://twitter.com/migreyes">tweet some of them</a>, too.</p>
</aside>

<section class="essays">
  <ul>
  {% for essay in site.categories.writes %}
    {% if essay.svn %}
      <li>
        <a href="http://37svn.com/{{ essay.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ essay.title }}">{{ essay.title }}</a>
        {% if essay.preview %}<p>{{ essay.preview }}</p>{% endif %}
        <p>
          <small data-words="{{ essay.content | number_of_words }}"></small>
          <small class="svn">Written on Signal vs. Noise</small>
        </p>
      </li>
    {% else %}
      <li>
        <a href="{{ essay.url }}">{{ essay.title }}</a>
        {% if essay.preview %}<p>{{ essay.preview }}</p>{% endif %}
        <p><small data-words="{{ essay.content | number_of_words }}"></small></p>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

  <p>I also keep a <a href="/thinks">collection of thoughts</a> and share <a href="http://twitter.com/migreyes" title="Follow me on Twitter">some on Twitter</a>.</p>
</section>