---
title: Mig loves Chicago, you should too
class: chicago
layout: default
---

<section class="introduction">
  <h1>A short list of my favorite places in the Windy City</h1>
</section>

<section class="work">
  <h2>Coworking &amp; Coffee Shops</h2>
  <p>Since we work remotely at 37signals, I spend a lot of my time at coffee shops. Here are a few of my favorite places to work.</p>

  <span class="ephemera slant caffeine">Caffeinate properly</span>

  <ul>
    <li>Buzz</li>
    <li>Caffe Streets</li>
    <li>Filter</li>
    <li>Gaslight</li>
    <li>Wormhole</li>
  </ul>
</section>

<section class="bars">
  <h2>Bars</h2>
  <p>When work is done, whisky is poured here.</p>

  <ul>
    <li>Bar Deville</li>
    <li>Bangers and Lace</li>
    <li>Blind Robin</li>
    <li>Longman and Eagle</li>
    <li>Maudes</li>
    <li>Revolution Brewing</li>
    <li>The Whistler</li>
    <li>The Violet Hour</li>
    <li>Chip Inn</li>
  </ul>
</section>

<section class="restaurants">
  <h2>Restaurants</h2>
  <p>Mostly pizza, because pizza.</p>

  <ul>
    <li>Boiler Room</li>
    <li>Old Oak Tap</li>
    <li>Au Cheval</li>
    <li>Coalfire</li>
    <li>Via Carducci La Sorella</li>
    <li>Piece</li>
    <li>Ruxbin</li>
  </ul>
</section>

<section class="stores">
  <h2>Stores</h2>
  <p>Menswear, books, and knick-knacks.</p>

  <ul>
    <li>Apartment No. 9</li>
    <li>Independence</li>
    <li>Museum of Contemporary Art Gift Shop</li>
    <li>Quimby’s</li>
    <li>Threadless</li>
    <li>Trunk Club</li>
    <li>Una Maes</li>
  </ul>
</section>

<section class="friends">
  <h2>Friends</h2>
  <p>And of course, be sure to meet some of the best folks in Chicago</p>

  <ul>
    {% for friend in site.data.friends %}
      {% if friend.location == "Chicago" %}
        <li><a href="{{ friend.url }}">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>