---
title: Mig loves Chicago, you should too
class: chicago
layout: default
---

<section class="work">
  <h2>Coworking &amp; Coffee Shops</h2>
</section>

<section class="bars">
  <h2>Bars</h2>
</section>

<section class="restaurants">
  <h2>Restaurants</h2>
</section>

<section class="stores">
  <h2>Stores</h2>
</section>

<section class="friends">
  <h2>Friends</h2>
  <p>And of course, be sure to meet some of the best folks in Chicago</p>

  <ul>
    {% for friend in site.data.friends %}
      {% if friend.location == "Chicago" %}
        <li><a href="{{ friend.url }}">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>