ErrorDocument 404 /404.html
Options -Indexes

RedirectMatch 301 /about /is$1
RedirectMatch 301 /profile /is$1
RedirectMatch 301 /work /makes$1
RedirectMatch 301 /portfolio /makes$1
RedirectMatch 301 /writing /writes$1
RedirectMatch 301 /thoughts /writes$1
RedirectMatch 301 /resources /recommends$1