@media only screen and (max-width: 480px) {
  .macbook {
    font-size: 16px;
    line-height: 1.4em;
    padding: 0 10px 40px !important; }

  .sell {
    margin-top: 10px !important; }
    .sell h1 {
      font-size: 30px !important; }
    .sell h2 {
      line-height: 1em;
      margin-bottom: 10px; }

  .buy ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: none !important;
    width: 85% !important; } }
.macbook {
  background: #F2F2F2;
  color: #666;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0 40px 40px; }
  .macbook a:link {
    color: #08C;
    text-decoration: underline; }
  .macbook a:visited {
    color: #08C;
    text-decoration: underline; }
  .macbook a:hover {
    color: #08C;
    text-decoration: none; }
  .macbook a:active {
    color: #666;
    text-decoration: none; }
  .macbook .content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background: #FFF;
    padding: 0;
    max-width: 1120px !important; }
  .macbook ul {
    list-style: none; }
  .macbook footer {
    color: #999;
    font-size: 14px;
    margin-top: 20px;
    text-align: center; }

.sell {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-top: 40px; }
  .sell article {
    border-top: 1px solid #DDD;
    padding: 0 0 30px;
    margin: 0 0 0;
    width: 100%; }
    .sell article:first-child {
      border: none; }
  .sell h1, .sell h2, .sell h3 {
    color: #000;
    font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
    font-weight: normal;
    text-align: center; }
  .sell h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -1px;
    margin: 0 0 15px; }
  .sell h2 {
    font-size: 25px;
    margin-bottom: 6px; }
  .sell h3 {
    color: #999;
    font-size: 20px; }
  .sell figure, .sell img {
    width: 100%; }
  .sell figure {
    margin: 0 0 30px; }
  .sell p {
    margin: 10px auto;
    text-align: center;
    max-width: 700px;
    width: 80%; }

article.intro {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  padding-top: 40px;
  margin: 0; }
  article.intro h1, article.intro h2, article.intro h3 {
    padding: 0 20px; }

.buy {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  zoom: 1;
  background: #FAFAFA;
  font-size: 14px; }
  .buy:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .buy h4 {
    color: #666;
    font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
    font-size: 20px;
    margin: 0 0 10px 0; }
  .buy ul {
    float: left;
    margin: 30px 0 0 10%;
    width: 40%; }
  .buy .purchased {
    color: #F30;
    text-decoration: line-through; }
  .buy .yours {
    color: #333;
    font-weight: bold; }
  .buy .email {
    margin: 20px 0 0 0; }
  .buy .email a {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: #5db2ea;
    background: -moz-linear-gradient(top, #5db2ea 0%, #397dcc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5db2ea), color-stop(100%, #397dcc));
    background: -webkit-linear-gradient(top, #5db2ea 0%, #397dcc 100%);
    background: -o-linear-gradient(top, #5db2ea 0%, #397dcc 100%);
    background: -ms-linear-gradient(top, #5db2ea 0%, #397dcc 100%);
    background: linear-gradient(to bottom, #5db2ea 0%, #397dcc 100%);
    border: 1px solid #5a9bd8;
    color: #FFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5db2ea', endColorstr='#397dcc',GradientType=0 );
    font-size: 14px;
    margin-left: -10px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 1px solid #61a3dd; }
    .buy .email a:hover {
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
      -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
      background: #3d9ee5;
      background: -moz-linear-gradient(top, #3d9ee5 0%, #1463c6 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d9ee5), color-stop(100%, #1463c6));
      background: -webkit-linear-gradient(top, #3d9ee5 0%, #1463c6 100%);
      background: -o-linear-gradient(top, #3d9ee5 0%, #1463c6 100%);
      background: -ms-linear-gradient(top, #3d9ee5 0%, #1463c6 100%);
      background: linear-gradient(to bottom, #3d9ee5 0%, #1463c6 100%);
      border: 1px solid #337dcd;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d9ee5', endColorstr='#1463c6',GradientType=0 ); }
