<header role="banner" id="top">
  <strong><a href="/">Mig Reyes</a></strong>
  <nav role="navigation">
    <ul>
      <li{% if page.class == "about" %} class="active"{% endif %}><a href="/is">About</a></li>
      <li{% if page.class == "portfolio" %} class="active"{% endif %}><a href="/makes">Work</a></li>
      <li{% if page.class == "writes" %} class="active"{% endif %}><a href="/writes">Writing</a></li>
      <li{% if page.class == "recommends" %} class="active"{% endif %}><a href="/recommends">Resources</a></li>
    </ul>
  </nav>
</header>