// Thinks ———————————————————————————————————— •
// ——————————————————————————————————————————— •

.thoughts {

  p { margin: 6em 0; }

  :target a {
    @include animate(thought-attention 5s both);
    outline: none;
  }
}

.thought {
  @include transition(color 2s .5s ease);
  display: block;
  margin-left: 0%;
  margin-top: 1em;
  line-height: 1em;

  &:hover {
    @include transition(color 2s ease);
    color: red;
    cursor: default;
  }

  a {
    color: #333;
    display: block;
    line-height: 1.2em;
    padding-top: 6em;
    text-decoration: none;
  }
}


// Thinks: Tablet ———————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  .thinks h1 {
    margin-left: 16.667%;
    margin-top: 2em;
  }

  .thoughts {
    margin-left: 16.667%;
    width: 66.667%;
  }

  .thought {
    font-size: 1.5em;
    letter-spacing: -1px;

    &:nth-child(2n+2) { margin-left: 16.667%; }
    &:nth-child(3n+3) { margin-left: 33.333%; }
  }
}