---
title: Mig loves these things
class: loves
layout: default
---

<header class="loves-introduction">
  <figure><img src="/assets/images/loves/laptop.jpg"></figure>
  <h1>These are a few of my favorite things… and people, and places</h1>
</header>

<section class="loves-chicago-guide">
  <h3>Chicago City Guide</h3>
  <p>Home to some of the most amazing creatives I know, and great food to boot. If you’re ever here for a visit, for a conference, or just rolling through the Midwest, be sure to <a href="/loves/chicago" title="A collection of all of Mig’s favorite Chicago places">check out my favorite bars, cafes, restaurants, and shops in Chicago</a>.</p>
  <span class="ephemera clockwise chicago">Don’t call it Chi-city</span>
</section>

<section class="loves-friends">
  <h3>Friends</h3>
  <p>These are some of the incredibly talented people that have inluenced my work, thoughts, and career. I’m lucky enough to call them my colleagues, drinking partners, and friends.</p>

  <span class="ephemera counter-clockwise company">You’re known by the company you keep</span>

  <ul class="loves-friends-design">
    <li>Design</li>
    {% for friend in site.data.friends %}
      {% if friend.industry == "design" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="loves-friends-photo">
    <li>Photo &amp; Video</li>
    {% for friend in site.data.friends %}
      {% if friend.industry == "photo" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="loves-friends-illustration">
    <li>Type &amp; Illustration</li>
    {% for friend in site.data.friends %}
      {% if friend.industry == "illustration" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="loves-friends-web">
    <li>Web &amp; Product</li>
    {% for friend in site.data.friends %}
      {% if friend.industry == "web" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="loves-friends-writing">
    <li>Writing</li>
    {% for friend in site.data.friends %}
      {% if friend.industry == "writing" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="loves-books">
  <h3>Books worth reading</h3>
  <p>From books that have shaped me as a designer since my college days, to recent discoveries suggested by friends and co-workers, this is my recommended reading list.</p>

  <ul>
  {% for book in site.data.books %}
    <li>
      <a href="{{ book.url }}">
        <img src="/assets/images/books/{{ book.name }}.jpg">

        <div>
          <h6>{{ book.name }}</h6>
          <em>{{ book.author }}</em>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<section class="loves-apps">
  <h3>Software I Can’t Live Without</h3>

  <span class="ephemera clockwise share">Share everything</span>

  <ul>
  {% for app in site.data.apps %}
    <li>
      <a href="{{ app.url }}" target="_blank">{{ app.name }}</a> {{ app.info }}
    </li>
  {% endfor %}
  </ul>
</section>