body.portfolio {

  section.projects {
    min-height: 1200px;
    width: 100%;
  }

  article.project {
    display: inline-block;
    position: relative;
    vertical-align: top;

    blockquote {
      display: none;
    }

    figure {
      margin-bottom: 2em;
      width: 100%;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }

  article.website {
    width: 50%;

    span.chrome-title {
      @include border-radius(3px 3px 0 0);
      background: #eeeeee;
      background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
      background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
      background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
      background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
      background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
      border: 1px solid #CCC;
      border-bottom-color: #999;
      display: block;
      font-family: "Lucida Grande", Helvetica;
      font-size: .7em;
      height: 25px;
      position: relative;
      text-align: center;
      text-shadow: 0 1px 1px white;
      z-index: 1000;
    }

    figure.chrome {
      @include border-radius(0 0 3px 3px);
      @include box-shadow(0 0 5px rgba(0,0,0,.35));
      border: 1px solid #CCC;
      height: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;

      img {
        margin-bottom: -1em;
      }
    }

    b {
      font-size: 1.25em;
      position: absolute;
      text-align: left;

      &.red {
        color: #ea4d45;
        left: .25em;
      }

      &.yellow {
        color: #f5b958;
        left: 1em;
      }

      &.green {
        color: #7fb15e;
        left: 1.75em;
      }
    }
  }

  footer {
    margin-bottom: 0;
    padding-bottom: 3em;

    .contact-inline {
      text-align: center;

      p {
        display: inline;
        margin: 0 1rem;
      }

      small {
        display: block;
        font-size: .65rem;
        font-weight: bold;
        letter-spacing: .2rem;
        margin-top: .5rem;
        text-transform: uppercase;
      }
    }
  }
}


// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.portfolio {

    h1 {
      margin-bottom: 1em;
      margin-top: 2rem;
    }

    [data-behavior="zoomable"]:hover {
      cursor: -webkit-zoom-in;
    }

    article.project {
      margin-bottom: 6em;

      blockquote.active {
        display: inline-block;
        vertical-align: top;
      }
    }

    article.united-pixelworkers {

      blockquote {
        margin-left: 33.333%;
        width: 33.333%;
      }

      figure {
        margin-left: 16.667%;
        width: 33.333%;

        &.active {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    article.blog-wars {

      blockquote {
        width: 33.333%;
      }

      figure {
        display: inline-block;
        margin-left: 16.667%;
        margin-right: 2%;
        width: 31.333%;

        &.active {
          margin-left: 0;
          width: 48%;
        }
      }
    }
  }
}
