body.portfolio {
  @include animate(fade-to-grey 1s both);
  border-top-color: black;
  background: #999;

  header#top a { color: black; }

  h1 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -.05em;
  }

  aside.toggles {
    position: relative;
    height: 30px;
    margin-top: -2em;

    button {
      display: none;
      position: absolute;
      left: 0;
      top: -2em;
    }
  }

  section.projects {
    min-height: 1200px;
    width: 100%;
  }

  div.project {
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
    vertical-align: top;

    h1 {
      display: none;
    }

    .thumbnail, h3, p, figure, .details {
      display: inline-block;
    }

    &.poster {
      width: 30%;
    }

    &.website {
      width: 30%;
    }

    span.chrome-title {
      @include border-radius(3px 3px 0 0);
      border: 1px solid #CCC;
      border-bottom: none;
      background: #CCC;
      display: block;
      font-family: "Lucida Grande", Helvetica;
      font-size: .8em;
      height: 25px;
      text-align: center;
      text-shadow: 0 1px 1px white;
    }

    figure.chrome {
      border: 1px solid #666;
      height: 200px;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;

      img {
        margin-bottom: -1em;
      }
    }

    &.lyt figure {
      width: 31.333%;
    }

    &.tshirt {
      width: 50%;
    }

    &.promo {
      width: 66.667%;
    }

    .details { width: 100%; }

    img {
      height: auto;
      width: 100%;
    }
  }

  footer {
    margin-bottom: 0;
    padding-bottom: 3em;

    a { color: white; }

    .contact-inline {
      text-align: center;

      p {
        display: inline;
        margin: 0 1rem;
      }

      small {
        color: #666;
        display: block;
        font-size: .65rem;
        font-weight: bold;
        letter-spacing: .2rem;
        margin-top: .5rem;
        text-transform: uppercase;
      }
    }

    .chicago p { border-bottom-color: #999; }
    .chicago:hover { p { color: #EEE; } }
  }
}


// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.portfolio {

    h1 {
      margin-bottom: 1em;
      margin-top: 2rem;
    }
  }
}
