// Essays ———————————————————————————————————— •
// ——————————————————————————————————————————— •

body.essay {

  .content { @include animate(fade-in-up .5s both); }

  h1 {
    color: #333;
    font-family: $font-serif;
  }

  h2 {
    margin-top: 2em;
  }

  article li {
    padding-left: 1em;
    margin-bottom: 1em;
    position: relative;

    &:before {
      content: "•";
      color: #333;
      position: absolute;
      left: 0;
    }
  }

  article img {
    height: auto;
    max-width: 100%;
  }


  aside {
    border-bottom: 2px solid #DDD;
    border-top: 2px solid #DDD;
    font-family: $font-sans;
    margin: 2em auto;
    padding: 2em 0 1em;
    text-align: center;

    a:visited { color: $color-link; }

    figure {
      @include border-radius(50%);
      display: inline-block;
      vertical-align: middle;
      width: 20%;
    }

    img {
      @include border-radius(50%);
      height: auto;
      width: 100%;
    }

    div {
      display: inline-block;
      vertical-align: top;
    }
  }

  .twitter-tweet {
    position: relative;
    left: -1rem;
    width: 110%;
  }
}


// Essays: Tablet ———————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  body.essay {

    article {
      padding: 0 2em;
    }

    article p, article li {
      font-size: 1.1em;
      line-height: 1.75em;
    }

    aside {
      padding-top: 2em;
      text-align: left;

      figure {
        margin-left: -2%;
        margin-right: 5%;
        width: 18%;
      }

      div {
        width: 78%;
      }
    }
  }
}


// Essays: Desktop ——————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
  body.essay {

    article {
      margin-left: 16.667%;
      margin-top: 4em;
      padding: 0;
      max-width: 680px;
      width: 83.333%;
    }

    aside {
      margin: 4em 0 4em 16.667%;
      max-width: 680px;
    }
  }
}