// Navigation ———————————————————————————————— •
// ——————————————————————————————————————————— •

nav {
  @include sans-serif;

  a.home {
    color: #333;
    font-weight: bold;

    &:visited,
    &:hover,
    &:active {
      color: black;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ul {

    a:link,
    a:visited {
      color: $color-link;
    }
  }

  body.about & a.about,
  body.portfolio & a.portfolio,
  body.writes & a.writes,
  body.loves & a.loves {
    text-decoration: underline;
  }
}


// Navigation: Desktop ——————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
  nav {
    font-size: .9rem;
    line-height: 1.2em;
    padding-right: 1em;
    position: fixed;
    right: 0;
    top: 2em;
    width: 15%;
    z-index: 1986;

    &:hover {
      cursor: default;
    }

    a.home {
      display: inline-block;
    }

    section {
      margin-top: 2em;
    }

    h5 {
      margin-top: 1em;
    }

    address {
      font-style: normal;
    }
  }
}