// Navigation ———————————————————————————————— •
// ——————————————————————————————————————————— •

.nav {
  @include border-box;
  background-color: $color-link;
  font-family: $font-sans;
  margin-bottom: 1em;
  margin-top: -5px;
  padding: .5em 1em;
  position: relative;
  width: 100%;
}

.nav-home {
  color: white;
  display: inline-block;
  font-weight: bold;

  &:visited,
  &:hover,
  &:active {
    color: white;
  }

  &:hover { text-decoration: underline; }
}

.nav-links {
  position: absolute;
  right: 0;
  top: .5em;

  a:link,
  a:visited { color: white; }
  a:hover { color: $color-link-hover; }

  li {
    display: inline-block;
    margin-left: .25em;
  }
}

.nav-link-loves,
.nav-link-portfolio,
.nav-link-stream { display: none; }

.nav-title,
.nav-contact {
  display: none;
}


// Navigation: Current Page —————————————————— •
// ——————————————————————————————————————————— •

body.about .nav-link-about,
body.portfolio .nav-link-portfolio,
body.writes .nav-link-writes,
body.loves .nav-link-loves {
  text-decoration: underline;
}


// Navigation: Desktop ——————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
  .nav {
    @include border-box;
    background-color: transparent;
    font-size: .9rem;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 0;
    padding-right: 1em;
    position: fixed;
    right: 0;
    top: 2em;
    padding-right: 1%;
    width: 17%;
    z-index: 1986;

    &:hover { cursor: default; }

    div { margin-top: 2em; }
    h5 { margin-top: 1em; }
    p { margin-bottom: 0; }
    address { font-style: normal; }
  }

  .nav-home {
    color: #333;
    display: inline-block;

    &:visited,
    &:active {
      color: #333;
    }

    &:hover { color: $color-link; }
  }

  .nav-links {
    position: relative;
    left: 0;
    top: 0;

    a:link,
    a:visited { color: $color-link; }

    li {
      display: block;
      margin: 0;
    }
  }

  .nav-link-portfolio,
  .nav-link-loves,
  .nav-link-stream { display: block; }

  .nav-title,
  .nav-contact {
    display: block;

    a:link,
    a:visited { color: $color-link; }
  }
}