// Responsive PSA ———————————————————————————— •
// ——————————————————————————————————————————— •

aside.public-service-announcement {
  @include clearfix;
  @include border-box;
  background: rgba(0,0,0,1);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  p {
    color: #EEE;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 6em;
    width: 100%;
  }

  figure {
    position: relative;
  }

  img {
    position: absolute;
  }

  .finger {
    left: 32%;

    img { z-index: 750; }
  }

  .hole {
    right: 35%;

    .a {
      right: 0;
      z-index: 500;
    }

    .ok {
      right: 0;
      z-index: 1000;
    }
  }

  .poop {
    @include animate(fade-in-up .2s both);
    display: block;
    left: 33%;
    top: 150px;
  }
}

@include responsive-break-point(401px) {
  aside.public-service-announcement {
    .poop { display: none; }
  }
}