---
title: Mig loves Chicago. Come visit and see why.
class: loves-chicago
layout: default
---

<section class="chicago-introduction">
  <figure><img src="/assets/images/loves/dog.jpg"></figure>
  <h1>A short list of my favorite places in the Windy City</h1>
</section>

<section class="chicago-coffee">
  <h3>Coffee Shops</h3>
  <p>Since we work remotely at Basecamp, I spend a lot of my time at coffee shops. Here are a few of my favorite places to work.</p>

  <span class="ephemera slant caffeine">Caffeinate properly</span>

  <ul>
    <li><a href="http://www.buzzkillerespresso.com" target="_blank">Buzz: Killer Espresso</a></li>
    <li><a href="http://caffestreets.com" target="_blank">Caffe Streets</a></li>
    <li><a href="https://www.facebook.com/pages/FILTER-CAFE/145921548041" target="_blank">Filter</a></li>
    <li><a href="http://gaslightcoffeeroasters.com" target="_blank">Gaslight</a></li>
    <li><a href="http://www.heritagebicycles.com" target="_blank">Heritage Bicycles</a></li>
    <li><a href="http://www.starloungecoffee.com" target="_blank">Star Lounge</a></li>
    <li><a href="http://www.thewormhole.us" target="_blank">Wormhole</a></li>
  </ul>
</section>

<section class="chicago-bars">
  <h3>Bars</h3>
  <p>When work is done, whiskey is poured here.</p>

  <span class="ephemera counter-slant make">Make wrecklessly, drink responsibly-ish</span>

  <ul>
    <li><a href="http://bangersandlacechicago.com" target="_blank">Bangers and Lace</a></li>
    <li><a href="http://bardeville.com" target="_blank">Bar Deville</a></li>
    <li><a href="http://www.yelp.com/biz/the-chipp-inn-chicago" target="_blank">Chip Inn</a></li>
    <li><a href="http://fivestarbar.com" target="_blank">Five Star Bar</a></li>
    <li><a href="https://www.facebook.com/LoneWolfTavern" target="_blank">Lone Wolf</a></li>
    <li><a href="http://www.longmanandeagle.com" target="_blank">Longman and Eagle</a></li>
    <li><a href="http://www.maudesliquorbar.com" target="_blank">Maudes Liquor Bar</a></li>
    <li><a href="http://revbrew.com" target="_blank">Revolution Brewing</a></li>
    <li><a href="http://www.drinkingandgathering.com" target="_blank">Sportsman’s Club</a></li>
    <li><a href="http://theviolethour.com" target="_blank">The Violet Hour</a></li>
    <li><a href="http://whistlerchicago.com" target="_blank">The Whistler</a></li>
  </ul>
</section>

<section class="chicago-restaurants">
  <h3>Restaurants</h3>
  <p>Mostly pizza, because pizza. Also, brunch.</p>

  <ul>
    <li><a href="http://auchevalchicago.com" target="_blank">Au Cheval</a></li>
    <li><a href="http://blackbirdrestaurant.com" target="_blank">Blackbird</a></li>
    <li><a href="http://www.yelp.com/biz/the-boiler-room-chicago-2" target="_blank">Boiler Room</a></li>
    <li><a href="http://coalfirechicago.com" target="_blank">Coalfire</a></li>
    <li><a href="http://flochicago.com" target="_blank">Flo</a></li>
    <li><a href="http://littlegoatchicago.com" target="_blank">Little Goat</a></li>
    <li><a href="http://www.piecechicago.com" target="_blank">Piece</a></li>
    <li><a href="http://pequodspizza.com" target="_blank">Peaquod’s</a></li>
    <li><a href="http://reddoorchicago.com" target="_blank">Red Door</a></li>
    <li><a href="http://www.ruxbinchicago.com/site/" target="_blank">Ruxbin</a></li>
    <li><a href="http://winchesterchicago.com" target="_blank">The Winchester</a></li>
    <li><a href="http://viacarduccilasorella.com" target="_blank">Via Carducci La Sorella</a></li>
  </ul>
</section>

<section class="chicago-stores">
  <h3>Stores</h3>
  <p>Menswear, books, and knick-knacks.</p>

  <span class="ephemera counter-clockwise look">Look nice today</span>

  <ul>
    <li><a href="http://apartmentnumber9.com" target="_blank">Apartment No. 9</a></li>
    <li><a href="http://independence-chicago.com" target="_blank">Independence</a></li>
    <li><a href="http://www.mcachicagostore.org/main/index.php" target="_blank">Museum of Contemporary Art Gift Shop</a></li>
    <li><a href="http://shoppenelopes.com" target="_blank">Penelope’s</a></li>
    <li><a href="http://www.quimbys.com" target="_blank">Quimby’s</a></li>
    <li><a href="http://threadless.com" target="_blank">Threadless</a></li>
    <li><a href="http://trunkclub.com" target="_blank">Trunk Club</a></li>
    <li><a href="http://www.unamaeschicago.com" target="_blank">Una Maes</a></li>
  </ul>
</section>

<section class="chicago-friends">
  <h3>Friends</h3>
  <p>And of course, be sure to meet some of the best folks in Chicago</p>

  <ul>
    {% for friend in site.data.friends %}
      {% if friend.location == "Chicago" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>