---
title: About Mig Reyes, designer at Basecamp
class: about
layout: default
---

<section class="portrait" data-behavior="escapable">
  <figure class="portrait-overlay">
    <img src="/assets/images/is/mig.jpg">
    <figcaption>Photo by <a href="http://instagram.com/miekd" target="_blank">Maykel Loomans</a> at Brooklyn Beta 2013.</figcaption>
  </figure>
</section>

<section class="biography">
  <article class="long">
    <h1>I’m a designer exploring the intersection of art and technology on the web at Basecamp.</h1>

    <p>I live, work, and teach in Chicago. Like my co-workers, I also enjoy working <a href="http://Basecamp.com/remote" target="_blank">remotely</a>, turning local coffee shops from my favorite cities into my office.</p>
    <p>At Basecamp, I split my work between product and marketing design for our popular <a href="http://basecamp.com" target="_blank">project management app</a>. I work on new features, improve conversion and retention of our customers, shape the Basecamp voice through marketing experiments and writing, all the way to new app and product prototyping. We try new ideas often, and approach our <a href="http://37svn.com/3646" target="_blank">work as scientists</a>.</p>
    <p>Before Basecamp, I cut my teeth as the first full-time interactive designer at Threadless. There, I designed the much of the marketing campaigns, brand standards, and Threadless.com interfaces. It was there where I learned how to take care of your community and try new ideas, no matter how weird. Leading up to Threadless, I toughened my skin working at studios and agencies making work for clients including AIGA, Google, Harley-Davidson, Rand McNally, Sears, SC Johnson, and Valspar.</p>
    <p>Teaching, mentoring, and community outreach make up the latter half of my time. I’ve been maintaining the frequently-visited design inspiration site <a href="http://humblepied.com" target="_blank">Humble Pied</a> since 2009. That lead me to do even bigger community projects, such as starting and managing the <a href="http://creativemornings.com/cities/chi" target="_blank">CreativeMornings Chicago</a> chapter for two years, and ultimately passing the reigns to my friends Kim and Kyle at <a href="http://www.knoed.com" target="_blank">Knoed</a>. I also serve as a mentor within design, tech, and startup organizations.</p>
    <p>I prefer start my day with a straight black pour over and end my night with a smooth bourbon and a hoppy IPA.</p>

    <p data-bio=".short">Too long, didn’t read?</p>
  </article>

  <article class="short">
    <h1>Designer at Basecamp</h1>
    <p>I help make Basecamp better. Formerly Threadless, and an agency refugee. Beliefs: designers should code, humility > hubris, build your community.</p>
    <p>&hearts; <a href="/loves/chicago">Chicago</a>.</p>

    <p data-bio=".long">More?</p>
  </article>

  <div class="portrait-thumbnails">
    <img src="/assets/images/is/mig-blue.png">

    <figure class="portrait-toggle">
      <img src="/assets/images/is/mig-black.png">
      <figcaption>Photo by <a href="http://instagram.com/miekd" target="_blank">Maykel Loomans</a></figcaption>
    </figure>
  </div>

  <span class="ephemera clockwise midwest">Roll your sleeves up,<br>Midwest pride</span>
</section>

<section class="teaching">
  <h3>Teaching</h3>
  <p>Since 2012, I’ve been teaching beginners the fundamentals of design and visual patterns at The Starter League in Chicago. Prior, I spent three years teaching art direction, design, and professional practices at The Chicago Portfolio School.</p>

  <span class="ephemera counter-clockwise give">Give more than you take</span>
</section>

<section class="public">
  <article class="speaking">
    <h3>Speaking</h3>

    <ul>
      {% for talk in site.data.talks %}
        <li>
          <h5>{{ talk.title }}</h5>
          <p>{{ talk.location }}</p>
          {% if talk.video %}<span><a href="{{ talk.video }}" target="_blank">View video</a></span>{% endif %}
          {% if talk.photos %}<span><a href="{{ talk.photos }}" target="_blank">View photos</a></span>{% endif %}
          {% if talk.recap %}<span><a href="{{ talk.recap }}" target="_blank">View recap</a></span>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </article>

  <article class="interviews">
    <h3>Interviews</h3>

    <ul>
      {% for interview in site.data.interviews %}
        <li><a href="{{ interview.url }}" target="_blank">{{ interview.title }}</a></li>
      {% endfor %}
    </ul>
  </article>

  <article class="press">
    <h3>Press</h3>

    <ul>
      {% for press in site.data.press %}
        <li>{{ press.title }}</li>
      {% endfor %}
    </ul>
  </article>

  <article class="print">
    <h3>Publications</h3>

    <ul>
      {% for publication in site.data.publications %}
        <li>
          <h4><a href="{{ publication.url }}" target="_blank">{{ publication.title }}</a></h4>
          {{ publication.publisher }}
        </li>
      {% endfor %}
    </ul>
  </article>

  <span class="ephemera slant nice">Be human, be nice</span>
</section>

<section class="availability">
  <h3>Contact</h3>

  <p>I’m easily reachable on Twitter. You can follow me at <a href="{{ site.twitter }}">@migreyes</a>. The second-best way to reach out is through email. I’m occasionally available for speaking, but I’m quite happy at Basecamp, so I’m not interested in work. You can email me at <script src="/assets/javascript/email.js"></script></p>

  <span class="ephemera clockwise hello">Hello</span>
</section>

<section class="colophon">
  <h3>Colophon</h3>

  <p>This site is designed with a six-column grid from <a href="http://Basecamp.com/svn/posts/1061-why-we-skip-photoshop" target="_blank">sketch to code</a>. Programmed with <a href="http://www.sublimetext.com/2" target="_blank">Sublime Text 2</a> using <a href="http://jekyllrb.com" target="_blank">Jekyll</a>, Sass, jQuery paired with <a href="http://coffeescript.org" target="_blank">CoffeeScript</a>, and <a href="http://rake.rubyforge.org" target="_blank">Rake</a> tasks for compilation and deployment to Dreamhost. Version controlled with Git on <a href="http://github.com/migreyes">GitHub</a>. The body typeface is <a href="https://typekit.com/fonts/ff-tisa-web-pro" target="_blank">FF Tisa</a> served via Typekit, while the complimentary sans-serif is <a href="http://www.fontshop.com/fonts/family/alto/" target="_blank">Alto</a> by OurType. Photoshop and Illustrator fired up for imagery. Get weird.</p>

  <span class="ephemera est">Est. 1986</span>
</section>