html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  background-color: #FFF;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 15px; }

header[role="banner"] {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  zoom: 1;
  margin: 0 auto 20px;
  padding: 10px 20px 0;
  max-width: 1000px;
  width: 100%; }
  header[role="banner"]:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  header[role="banner"] h1 {
    float: left;
    padding: 10px 0 0 0; }
  header[role="banner"] h1 a {
    border: 3px solid black;
    color: black;
    font-family: "Futura";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase; }
  header[role="banner"] ul {
    zoom: 1;
    float: right; }
    header[role="banner"] ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  header[role="banner"] li {
    display: block;
    float: left;
    margin: 0 15px 0 0; }
    header[role="banner"] li a {
      display: block;
      padding: 6px 0 10px;
      text-decoration: none; }
    header[role="banner"] li.active a {
      border-top: 3px solid black;
      margin-top: -3px; }

.content {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  zoom: 1;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 1000px;
  width: 100%; }
  .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

footer {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  width: 100%; }
  footer .active {
    font-weight: bold; }
  footer section {
    margin: 0 0 30px 0; }
