section.introduction {

  #biography-chooser li { cursor: pointer; }

  figure { display: none; }

  // .biography-medium,
  // .biography-long { display: none; }
  // .biography-short { display: block; }

  p {
    margin: 0 0 1rem;
  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(641px) {

  section.introduction {

    h1 {
      font-size: 2rem;
      line-height: 1em;
      margin-bottom: 1rem;
    }

    .biography-long,
    .biography-short { display: none; }
    // .biography-medium { display: block; }
  }
}

// Browser ————————————————————————————————————— /
@include responsive-break-point(800px) {

  section.introduction {

    // .biography-short,
    // .biography-medium { display: none; }
    // .biography-long { display: block; }
  }
}