body.about .ephemera { display: none; }

.portrait {
  width: 100%;

  figure { width: 100%; }

  img {
    height: auto;
    width: 100%;
  }
}

.biography, .teaching {

  p a:link { text-decoration: underline; }
  p a:hover { text-decoration: none; }
}

.biography {

  article.short { display: none; }

  p { margin: 0 0 1rem; }

  .portrait-thumbnails { display: none; }
}

.speaking {

  i {
    color: #666;
    display: block;
    font-family: $font-alto;
    font-style: normal;
  }

  b {
    color: #999;
    font-size: .8em;
    font-weight: normal;
  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.about .content section {

    hgroup { margin-bottom: .5rem; }

    h2 {
      color: #F00;
      font-size: .9rem;
      letter-spacing: .3em;
      line-height: 1em;
      text-transform: uppercase;
    }

    h3 {
      color: #999;
      font-family: $font-tisa;
      font-style: italic;
      font-weight: normal;
    }
  }

  section.biography {
    margin: 8rem auto 0;

    h1 {
      color: #F00;
      font-size: 3rem;
      letter-spacing: -.04em;
      line-height: 1em;
      margin-bottom: 1rem;
      margin-left: 16.667%;
      position: relative;
      width: 83.335%;
      z-index: 1000;
    }

    article.short {
      margin-bottom: 10em;

      h1 { margin-left: 33.333%; }
    }

    article.long { margin-bottom: 8em; }

    p {
      margin-left: 33.333%;
      width: 66.667%;
    }

    [data-toggle="bio"] {
      color: $color-link;
      text-decoration: underline;

      &:hover {
        color: $color-link-hover;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

// Browser ————————————————————————————————————— /
@include responsive-break-point(800px) {
  body.about .content section {

    // Adjust so there’s no break on small widths
    // which shows scrollbars.
    // This may also be do to making the browser small then big again.
    .ephemera { display: block; }
  }

  section.portrait {
    background-color: rgba(0,0,0,.8);
    cursor: -webkit-zoom-out;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;

    figure {
      margin: 2em auto 0;
      max-width: 45%;

      img {
        @include border-radius(5px 5px 0 0);
        @include box-shadow(0 0 10px rgba(0,0,0,.5));
        height: auto;
        width: 100%;
      }

      figcaption {
        @include border-radius(0 0 5px 5px);
        background: rgba(0,0,0,.8);
        color: white;
        font-size: .9em;
        margin: -.5em 0 0;
        padding: .5em 0;
        text-align: center;
      }
    }
  }

  section.biography {
    position: relative;

    p {
      font-size: 1.1rem;
      line-height: 1.75em;
    }

    .portrait-thumbnails {
      display: block;
      position: absolute;
      top: -8em;
      width: 30%;

      img {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
      }

      .portrait-toggle {
        margin-top: 8em;
        position: absolute;
        width: 100%;

        &:hover {
          cursor: -webkit-zoom-in;
        }
      }

      figcaption {
        color: #999;
        font-size: .5em;
        margin-left: 14%;
        margin-top: 102%;
        position: relative;
        width: 100%;
        z-index: 200;

        a { color: #999; }
      }
    }
  }

  section.teaching {
    margin-left: 16.667%;
    position: relative;
    width: 66.668%;

    p {
      font-size: 1.1rem;
      line-height: 1.75em;
    }
  }

  section.kudos {
    @include clearfix;
    position: relative;

    li { font-family: $font-alto; }
  }

  article.speaking {
    float: right;
    margin: 8rem 0 0 2%;
    width: 50%;

    li {
      line-height: 1.25em;
      margin-bottom: 1rem;
    }

    p {
      color: #BBB;
      font-family: $font-alto;
      font-size: .9rem;
      margin-top: .25rem;
    }
  }

  article.interviews {
    padding-top: 18rem;
    width: 33.33%;
  }

  article.press {
    margin: 8rem 0 0 16.667%;
    width: 33.33%;
  }

  article.print {
    margin: 8rem 0 0 16.667%;
    width: 33.33%;
  }

  section.colophon {
    margin: 2rem 0 10rem 50%;
    width: 50%;
  }
}

// Ephemera ————————————————————————————————————— /
#midwest {
  bottom: 15em;
  left: 15%;
}

#give {
  right: -20em;
  top: 0;
          transform-origin: left top;
     -moz-transform-origin: left top;
  -webkit-transform-origin: left top;
}

#slash {
  left: 30%;
  top: 5%;
}

#nice {
  bottom: 12%;
  left: 55%;
}

#est { bottom: 5em; }