body.chicago {

  .content > section {
    position: relative;
    margin-bottom: 4em;
  }

  section ul li { font-family: $font-alto; }
  section ul { margin-top: 1em; }

  .ephemera { display: none; }
}

// Mobile Landscape ————————————————————————————————————— /
@include responsive-break-point(480px) {
  body.chicago {

  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.chicago {

    section h1 { margin: 2em 0 0 33.333%;}
    section h2 { margin-bottom: .5em; }

    section.work {
      margin-left: 16.667%;
      width: 50%;
    }

    section.friends {
      margin-left: 33.333%;

      p { margin-bottom: 1em; }

      li {
        display: inline-block;
        font-family: $font-alto;
        margin-right: .1em;

        &:after {
          content: " /";
          color: #CCC;
        }

        &:last-child:after { content: ""; }
      }
    }

    .ephemera { display: block; }

    .ephemera.caffeine {
      @include backface-visibility;
      @include transform-origin(left top);
      right: -10em;
      bottom: -2em;
    }
  }
}

// Tablet ————————————————————————————————————— /
@include responsive-break-point(768px) {
  body.chicago {

  }
}

// Long Browser ————————————————————————————————————— /
@include responsive-break-point(1280px) {
  body.chicago {

  }
}