body.essay {

  .content { @include animate(fade-in-up .5s both); }

  h1 { color: #333; }

  article li {
    padding-left: 1em;
    margin-bottom: 1em;
    position: relative;

    &:before {
      content: "•";
      color: #333;
      position: absolute;
      left: 0;
    }
  }

  article img {
    height: auto;
    max-width: 100%;
  }

  article p {
    margin-bottom: 1.5em;
  }


  .twitter-tweet {
    position: relative;
    left: -1rem;
    width: 110%;
  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.essay {

    article {
      margin-left: 16.667%;
      width: 66.667%;
    }

    article p, article li {
      font-size: 1.1em;
      line-height: 1.75em;
    }
  }
}