body.portfolio {
  @include animate(fade-to-grey 1s both);
  background: #999;
  // color: #EEE;

  header[role="banner"] {

    a { color: white; }
  }

  h1 {
    color: black;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -.05em;
  }

  footer {

    a { color: white; }

    .contact-inline {
      text-align: center;

      p {
        display: inline;
        margin: 0 1rem;
      }

      small {
        color: #666;
        display: block;
        font-size: .8em;
      }
    }

    .chicago {

      p { border-bottom-color: #999; }
      &:hover { p { color: #EEE; } }
    }
  }
}