body.portfolio {
  @include animate(fade-to-grey 1s both);
  border-bottom: 1px solid transparent;
  border-top-color: black;
  background: #999;

  header#top a { color: black; }

  h1 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -.05em;
  }

  footer {

    a { color: white; }

    .contact-inline {
      text-align: center;

      p {
        display: inline;
        margin: 0 1rem;
      }

      small {
        color: #666;
        display: block;
        font-size: .65rem;
        font-weight: bold;
        letter-spacing: .2rem;
        margin-top: .5rem;
        text-transform: uppercase;
      }
    }

    .chicago p { border-bottom-color: #999; }
    .chicago:hover { p { color: #EEE; } }
  }
}

aside.toggles {
  position: relative;
  height: 30px;
  margin-top: -2em;

  button {
    display: none;
    position: absolute;
    left: 0;
    top: -2em;
  }
}

section.projects {
  min-height: 1200px;
  width: 100%;
}

div.project {
  position: relative;
  width: 100%;

  h1 { display: none; }

  .thumbnail, h3, p, figure, .details {
    display: inline-block;
  }

  .details { width: 100%; }

  img {
    height: auto;
    width: 100%;
  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.portfolio {

    h1 {
      margin-bottom: 1em;
      margin-top: 2rem;
    }
  }
}

// MOVE THIS SHIT OUT LATER

// Blog Wars
div.project.blog-wars {

  h3, p { width: 30%; }

  .thumbnail {
    margin-left: 33.333%;
    width: 31.333%;
  }

  .details figure { width: 30%; }
}
