body.portfolio {
  @include animate(fade-to-grey 1s both);
  background: #999;

  header[role="banner"] {

    a { color: white; }
    strong a { color: black; }
  }

  h1 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -.05em;
  }

  footer {

    a { color: white; }

    .contact-inline {
      text-align: center;

      p {
        display: inline;
        margin: 0 1rem;
      }

      small {
        color: #666;
        display: block;
        font-size: .8em;
        margin-top: .5rem;
      }
    }

    .chicago p { border-bottom-color: #999; }
    .chicago:hover { p { color: #EEE; } }
  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(641px) {
  body.portfolio {

    h1 { margin-top: 2rem; }
  }
}