body.thinks {
  @include animate(fade-to-grey 1s both);
  border-top-color: black;
  background: #999;

  a { color: white; }

  h2 a:link { text-decoration: underline; }
  h2 a:visited { color: $color-link; }
}

// Mobile Landscape ————————————————————————————————————— /
@include responsive-break-point(480px) {
  body.thinks {

  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.thinks {

  }
}

// Tablet ————————————————————————————————————— /
@include responsive-break-point(768px) {
  body.thinks {

    section.thoughts {

      li {
        display: inline;
        font-size: 2.25em;
        letter-spacing: -1px;
        line-height: 1.2em;
      }

      li:before {
        content: " — ";
        color: #CCC;
      }

      li:first-child:before { content: ""; }
    }
  }
}

// Long Browser ————————————————————————————————————— /
@include responsive-break-point(1280px) {
  body.thinks {

  }
}