body.writes {

  h1 {
    @include border-box;
    padding: 0 .35em;
  }

  p a:link {
    color: $color-link;
    text-decoration: underline;
  }
  p a:visited { color: $color-link; }

  aside.sidebar { display: none; }

  section.essays {
    @include border-box;
    padding: 0 .5em;

    li {
      margin-bottom: 2.5em;

      a {
        color: #333;
        display: block;
        font-size: 1.25em;
        margin-bottom: .1em;
        text-decoration: none;

        &:visited { color: #888; }
        &:hover {
          color: $color-link-hover;
          text-decoration: underline;
        }
      }

      p {
        line-height: 1.2em;
        margin-bottom: .25em;
      }

      small {
        color: #999;
        display: inline-block;
        font-family: $font-sans;
        font-size: .8em;

        &:after { content: " — "; }
        &:last-child:after { content: ""; }
      }

      small.svn {
        background: url('/assets/images/icons/signals.png') 0 0 no-repeat;
        background-size: 16px 16px;
        padding-bottom: .25em;
        padding-left: 1.5em;
      }

      small.desktop { display: none; }
    }
  }
}

// Tablet ————————————————————————————————————— /
@include responsive-break-point(768px) {
  body.writes {

    h1 {
      margin-bottom: 1em;
      margin-left: 33.333%;
      padding: 0;
      width: 50%;
    }

    aside.sidebar {
      @include border-box;
      display: block;
      float: left;
      margin-top: .5em;
      padding-right: 1.5em;
      width: 33.333%;

      h3 {
        margin-bottom: .5em;
      }

      li {
        line-height: 1.2em;
        margin-bottom: .5em;
        position: relative;
      }

      ul.shortform {

        li { margin-left: 1em; }
        li:before {
          color: #999;
          content: "•";
          position: absolute;
          left: -1em;
          top: -.125em;
        }

        li a:visited { color: $color-link; }
      }

      div.toggles {
        font-family: $font-sans;
        margin-bottom: 3em;

        ul.radios {
          border-bottom: 1px solid #CCC;
          margin-top: 1em;
          margin-bottom: .75em;
          width: 140px;
        }

        li {
          cursor: pointer;
          display: block;
        }

        li span {
          background: url('/assets/images/icons/toggles.png') no-repeat;
          background-size: 34px 28px;
          display: inline-block;
          height: 14px;
          width: 17px;
        }

        li span.check { background-position: 0 0; }
        li.selected span.check { background-position: -17px 0; }

        li span.radio { background-position: 0 -14px; }
        li.selected span.radio { background-position: -17px -14px; }
      }

      .selected { font-weight: bold; }
    }

    section.essays {
      float: right;
      padding: 0;
      width: 66.668%;

      ul {
        margin-top: -.5em;
      }

      li a {
        font-size: 1.75em;
        letter-spacing: -1px;
        line-height: 1.1em;
      }

      li p { margin: 0 0 .25em; }

      li small.mobile { display: none; }
      li small.desktop { display: inline; }
      li small.svn {
        padding-top: .2em;
      }
    }
  }
}