body.writes {

  section.essays {

    small.svn {
      background: url('/assets/images/icons/signals.png') 0 2px no-repeat;
    }
  }
}

// Mobile Landscape ————————————————————————————————————— /
@include responsive-break-point(480px) {
  body.writes {

  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body.writes {

  }
}

// Tablet ————————————————————————————————————— /
@include responsive-break-point(768px) {
  body.writes {

    aside.start {
      float: right;
      width: 33.33%;

      ul {

      }

      li {
      }

      p {
        margin-top: 1em;
      }
    }

    section.essays {
      float: left;
      width: 66.668%;

      li {
        margin-bottom: 2em;

        a {
          font-size: 2.5em;
          letter-spacing: -2px;
          line-height: 1.2em;
        }
      }

      small {
        color: #999;
        display: inline-block;
        font-family: $font-alto;
        font-size: .8em;
        margin-right: .5em;
      }

      small.svn {
        background-size: 16px 16px;
        padding-left: 1.5em;
      }

      p a:link { text-decoration: underline; }
    }
  }
}

// Long Browser ————————————————————————————————————— /
@include responsive-break-point(1280px) {
  body.writes {

  }
}