@import "mixins", "reset", "animations", "fonts";

body {
  @include font-smoothing(antialiased);
  background-color: #FFF;
  border-top: .25em solid $color-link;
  color: #333;
  font-family: $font-tisa;
  font-size: 1rem; // 16px
  line-height: 1.5rem; // 24px

  a {
    color: $color-link;
    margin: -.2rem;
    padding: .2rem;
    text-decoration: none;

    &:visited { color: $color-link-visited; }
    &:hover { color: $color-link-hover; text-decoration: underline; }
    &:active { color: black; }
  }

  li { list-style: none; }
}

header[role="banner"] {
  @include border-box;
  @include clearfix;
  font-family: $font-alto;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem;
  vertical-align: bottom;
  width: 100%;

  .active { text-decoration: underline; }

  > a {
    float: left;
    font-weight: bold;
    color: #333;

    span { display: none; }
  }

  ul { float: right; }

  li { display: inline-block; }
  li:not(:first-child) { margin-left: .5rem; }
  li a:visited { color: $color-link; }
}

.content {
  @include animate(fade-in .5s both);
  @include border-box;
  @include clearfix;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  max-width: 1000px;
  width: 100%;
}

footer {
  @include border-box;
  font-family: $font-alto;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
  width: 100%;

  .active {
    font-weight: bold;
    text-decoration: underline;
  }
  a:visited { color: $color-link; }

  section.explore {

    div { margin-bottom: 2em; }

    .elsewhere { display: none; }
  }


  section.browse {
    text-align: center;
    width: 100%;

    .chicago {
      &:hover {
        text-decoration: none;

        p {
          border-bottom: 1px solid #B3DDF2;
          color: #FF0000;
        }
      }

      p {
        border-bottom: 1px solid white;
        color: #666;
        display: inline-block;
        font-family: $font-alto;
        font-size: .65rem;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.25em;
        margin-bottom: .5rem;
        text-transform: uppercase;
      }

      .chicago-flag {
        background: white;
        border-bottom: .5em solid #B3DDF2;
        border-top: .5em solid #B3DDF2;
        color: #FF0000;
        display: block;
        font-size: .6rem;
        letter-spacing: .25em;
        line-height: 1.5em;
        margin: 0 auto;
        padding: 0 .6em;
        width: 2rem;
      }
    }
  }
}

.hidden { display: none; }

.ephemera {
  color: rgba(94, 172, 238, .85);
  display: block;
  font-family: $font-alto;
  font-size: .75em;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.25em;
  text-transform: uppercase;
  position: absolute;

  &.clockwise {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  &.counter-clockwise {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  &.slant {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  &.counter-slant {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  &.large {
    font-size: 10em;
    font-weight: normal;
  }
}

// Mobile Landscape ————————————————————————————————————— /
@include responsive-break-point(480px) {
  header[role="banner"] {

    > a span { display: inline; }
  }
}

// iPad ————————————————————————————————————— /
@include responsive-break-point(640px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  header[role="banner"] {
    padding-top: 2rem;
  }

  footer {
    @include clearfix;
    margin-top: 3rem;

    section.explore {
      @include clearfix;
      font-size: .95rem;

      h4 { margin-bottom: .5rem; }

      li {
        line-height: 1.25em;
        margin-bottom: .5rem;
      }

      div {
        display: inline-block;
        float: left;
        margin-bottom: 0;
      }

      .contact {
        margin-right: 2%;
        width: 31.333%;

        address {
          line-height: 1.25rem;
          margin-bottom: 1rem;
        }

        p { line-height: 1.5em; }
      }

      .elsewhere {
        display: block;
        margin-right: 2%;
        width: 14.667%;

        a:visited { color: $color-link; }
      }

      .written {
        float: right;
        max-width: 22rem;
        width: 50%;
      }

      small {
        color: #999;
        display: block;
        font-family: $font-alto;
        font-size: .8em;
        margin-top: .5rem;
      }
    }

    section.browse {
      margin-top: 3rem;

      li {
        display: inline-block;
        margin: .5em;
      }
    }
  }
}

// Tablet ————————————————————————————————————— /
@include responsive-break-point(769px) {

}

// Long Browser ————————————————————————————————————— /
@include responsive-break-point(1280px) {
  header[role="banner"] {

    > a { position: fixed; }
  }
}

// Window Resize Finger Bang ————————————————————————————————————— /
aside.responsive {
  @include clearfix;
  @include border-box;
  background: rgba(0,0,0,1);
  // display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  p {
    color: #EEE;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 6em;
    width: 100%;
  }

  figure {
    position: relative;
  }

  img {
    position: absolute;
  }

  .finger {
    left: 32%;

    img { z-index: 750; }
  }

  .hole {
    right: 35%;

    .a {
      right: 0;
      z-index: 500;
    }

    .ok {
      right: 0;
      z-index: 1000;
    }
  }

  .poop {
    @include animate(fade-in-up .2s both);
    display: block;
    left: 33%;
    top: 150px;
  }
}

@include responsive-break-point(400px) {
  aside.responsive {
    .poop { display: none; }
  }
}

// Disable iOS font sizing ————————————————————————————————————— /
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}

@import "about", "writes", "essays", "portfolio", "bike";