{% include head.html %}
  <body{% if page.class %} class="{{ page.class }}" {% endif %}>
    {% include navigation.html %}

    <div class="content">
      <h1>{{ page.headline }}</h1>

      {{ content }}
    </div>

    {% comment %}
    <footer>
      <section class="contact">
        <p>Follow me on Twitter, <a href="http://twitter.com/migreyes" title="@migreyes">@migreyes</a></p>
        <p>Email, <script src="/assets/javascript/email.js"></script></p>
        <small>I’m happy at 37signals. No recruiters, please.</small>
      </section>

      <section class="links">
        <ul>
          <li><a href="/is">About</a></li>
          <li class="active"><a href="/makes">Work</a></li>
          <li><a href="/writes">Writing</a></li>
          <li><a href="/thinks">Thoughts</a></li>
          <li><a href="/recommends">Resources</a></li>
        </ul>

        <a href="/loves/chicago" class="chicago">
          <p>Made in Chicago</p><br>
          <span class="flag">✶✶✶✶</span>
        </a>
      </section>
    </footer>
    {% endcomment %}

    {% include public-service-announcement.html %}
  </body>
</html>