<footer>
  <section class="explore">
    <div class="contact">
      <h5>Get in touch</h5>

      <address>
        Mig Reyes c/o 37signals<br>
        30 N. Racine Ave. Suite 200<br>
        Chicago, IL 60607
      </address>

      <p>Follow me on Twitter, <a href="http://twitter.com/migreyes" title="@migreyes">@migreyes</a></p>
      <p>Email, <script src="/assets/javascript/email.js"></script></p>
      <small>(I’m happy at 37signals. No recruiters, please.)</small>
    </div>

    <div class="elsewhere">
      <h5>Elsewhere</h5>

      <ul>
        <li><a href="http://instagram.com/migreyes" target="_blank" title="Selfie-free, guaranteed.">Instagram</a></li>
        <li><a href="https://rdio.com/people/migreyes" target="_blank">Rdio</a></li>
        <li><a href="https://github.com/migreyes" target="_blank">GitHub</a></li>
        <li><a href="http://dribbble.com/migreyes" target="_blank">Dribbble</a></li>
        <li><a href="https://delicious.com/migreyes" target="_blank" title="Saving interesting internet finds.">Delicious</a></li>
        <li><a href="http://37signals.com/svn/writers/mig" target="_blank">Signal vs. Noise</a></li>
      </ul>
    </div>

    <div class="written">
      <h5>Recently written</h5>

      <ul>
      {% for essay in site.categories.writes limit:6 %}
        {% unless essay.title == page.title %}
          {% if essay.svn %}
            <li><a href="http://37svn.com/{{ essay.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ essay.title }}">{{ essay.title }}</a></li>
          {% else %}
            <li><a href="{{ essay.url }}">{{ essay.title }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
      </ul>
    </div>
  </section>

  <section class="browse">
    <ul>
      <li{% if page.class == "about" %} class="active"{% endif %}><a href="/is">About</a></li>
      <li{% if page.class == "portfolio" %} class="active"{% endif %}><a href="/makes">Work</a></li>
      <li{% if page.class == "writes" %} class="active"{% endif %}><a href="/writes">Writing</a></li>
      <li{% if page.class == "thinks" %} class="active"{% endif %}><a href="/thinks">Thoughts</a></li>
      <li class="hide-from-mobile{% if page.class == "loves" %} active{% endif %}"><a href="/loves">Resources</a></li>
    </ul>

    <a href="/loves/chicago" class="chicago">
      <p>Made in Chicago</p><br>
      <span class="flag">✶✶✶✶</span>
    </a>
  </section>
</footer>

<aside class="public-service-announcement" data-psa="responsive">
  <p>The web was meant to be read, not squished.</p>

  <figure class="finger"><img src="/assets/images/responsive/finger.png"></figure>
  <figure class="hole">
    <img class="a" src="/assets/images/responsive/hole-a.png">
    <img class="ok" src="/assets/images/responsive/hole-ok.png">
  </figure>
  <figure class="poop"><img class="a" src="/assets/images/responsive/poop.png"></figure>
</aside>