<footer class="footer">
  <div class="footer-nav">
    <ul class="footer-nav-here">
      <li><strong>Here</strong></li>
      <li><a href="/is">About</a></li>
      <li><a href="/makes">Work</a></li>
      <li><a href="/writes">Essays</a></li>
      <li><a href="/thinks">Thoughts</a></li>
      <li class="footer-nav-here-loves"><a href="/loves">Resources</a></li>
    </ul>

    <ul class="footer-nav-elsewhere">
      <li><strong>Elsewhere</strong></li>
      <li><a href="http://instagram.com/migreyes" target="_blank" title="Selfie-free, guaranteed.">Instagram</a></li>
      <li><a href="https://rdio.com/people/migreyes" target="_blank">Rdio</a></li>
      <li><a href="https://github.com/migreyes" target="_blank">GitHub</a></li>
      <li><a href="http://dribbble.com/migreyes" target="_blank">Dribbble</a></li>
      <li><a href="http://37signals.com/svn/writers/mig" target="_blank">Signal vs. Noise</a></li>
    </ul>

    <ul class="footer-nav-essays">
      <li><strong>Recent essays</strong></li>
      {% for essay in site.categories.writes limit:5 %}
        {% unless essay.title == page.title %}
          {% if essay.svn %}
            <li><a href="http://37svn.com/{{ essay.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ essay.title }}">{{ essay.title }}</a></li>
          {% else %}
            <li><a href="{{ essay.url }}">{{ essay.title }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>

  <div class="footer-chicago">
    <a href="/loves/chicago" class="chicago-flag" title="My favorite places in Chicago">
      <p>Made in Chicago</p><br>
      <span class="flag">✶✶✶✶</span>
    </a>
  </div>
</footer>