<nav role="navigation">
  <a class="home" href="/index-mocha.html">Mig Reyes</a>

  <section class="links">
    <ul>
      <li><a class="about" href="/is">About</a></li>
      <li><a class="portfolio" href="/makes">Work</a></li>
      <li><a class="writes" href="/writes">Essays</a></li>
      <li><a class="loves" href="/loves">Resources</a></li>
    </ul>
  </section>

  <section class="title">
    <p>Designer, 37signals</p>
    <p>Chicago, IL</p>
  </section>

  <section class="contact">
    <h5>Mail</h5>
    <address>
      Mig Reyes c/o 37signals<br>
      30 N. Racine Ave.<br>
      Suite 200<br>
      Chicago, IL 60607
    </address>

    <h5>Twitter</h5>
    <a href="http://twitter.com/migreyes" title="@migreyes">@migreyes</a>

    <h5>Email</h5>
    <script src="/assets/javascript/email.js"></script>
  </section>
</nav>