{% include head.html %}
  <body{% if page.class %} class="{{ page.class }}" {% endif %}>
    {% include header.html %}
    <div class="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>

    <footer>
      <section class="contact-inline">
        <p>Follow me on Twitter, <a href="http://twitter.com/migreyes" title="@migreyes">@migreyes</a></p>
        <p>Email, <script src="/assets/javascript/email.js"></script></p>
        <small>I’m happy at 37signals. No recruiters, please.</small>
      </section>

      <section class="browse">
        <ul>
          <li{% if page.class == "about" %} class="active"{% endif %}><a href="/is">About</a></li>
          <li{% if page.class == "portfolio" %} class="active"{% endif %}><a href="/makes">Work</a></li>
          <li{% if page.class == "writes" %} class="active"{% endif %}><a href="/writes">Writing</a></li>
          <li{% if page.class == "recommends" %} class="active"{% endif %}><a href="/recommends">Resources</a></li>
        </ul>

        <a href="/loves/chicago" class="chicago">
          <p>Made in Chicago</p><br>
          <span class="flag">✶✶✶✶</span>
        </a>
      </section>
    </footer>

    <aside class="responsive">
      <p>The web was meant to be read, not squished.</p>

      <figure class="finger"><img src="/assets/images/responsive/finger.png"></figure>
      <figure class="hole">
        <img class="a" src="/assets/images/responsive/hole-a.png">
        <img class="ok" src="/assets/images/responsive/hole-ok.png">
      </figure>
      <figure class="poop"><img class="a" src="/assets/images/responsive/poop.png"></figure>
    </aside>
  </body>
</html>