---
title: Short essays on design by Mig Reyes
class: writes
layout: default
---

<h1>Brief essays on design, craft, and culture</h1>

<section class="essays">
  <aside>
    <ul class="radios">
      <li data-essay-filter="recent" class="selected"><span class="radio">&nbsp;</span> Newest first</li>
      <li data-essay-filter="shortest"><span class="radio">&nbsp;</span> Shortest first</li>
    </ul>

    <ul class="checkboxes">
      <li data-essay-filter="favorites"><span class="check">&nbsp;</span> My favorites</li>
    </ul>
  </aside>

  <ul>
  {% for essay in site.categories.writes %}
    {% if essay.svn %}
      <li{% if essay.favorite %} data-favorite{% endif %} data-words="{{ essay.content | number_of_words }}" data-date="{{ forloop.index }}">
        <a href="http://37svn.com/{{ essay.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ essay.title }}">
          <h2>{{ essay.title }}</h2>
          <p>{{ essay.preview }}</p>
          <p>
            <small data-reading-time>&nbsp;</small>
            <small class="svn mobile">SvN</small>
            <small class="svn desktop">Written on Signal vs. Noise</small>
            <small>{{ essay.date | date: "%B %Y" }}</small>
          </p>
        </a>
      </li>
    {% else %}
      <li{% if essay.favorite %} data-favorite{% endif %} data-words="{{ essay.content | number_of_words }}" data-date="{{ forloop.index }}">
        <a href="{{ essay.url }}">
          <h2>{{ essay.title }}</h2>
          <p>{{ essay.preview }}</p>
          <p>
            <small data-reading-time>&nbsp;</small>
            <small>{{ essay.date | date: "%B %Y" }}</small>
          </p>
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

  <p>That’s it! I also keep a <a href="/thinks">stream of thoughts</a> and <a href="{{ site.twitter }}" title="Follow me on Twitter">think out loud on Twitter</a>.</p>
</section>