---
title: Thoughts
class: thinks
layout: default
---

<section class="essays">
  <h2>Recently written</h2>
  <ul>
  {% for thought in site.categories.thinks %}
    {% unless thought.title == page.title %}
      {% if thought.svn %}
        <li><a href="http://37svn.com/{{ thought.svn }}" target="_blank" title="Written on Signal vs. Noise: {{ thought.title }}">{{ thought.title }}</a></li>
      {% else %}
        <li><a href="{{ thought.url }}">{{ thought.title }}</a></li>
      {% endif %}
    {% endunless %}
  {% endfor %}
  </ul>
</section>

<section class="beliefs">
  <h2>Beliefs</h2>
  <ul>
  {% for quip in site.categories.beliefs %}
    <li>{{ quip.title }}</li>
  {% endfor %}
  </ul>
</section>