---
title: Mig loves these things
class: loves
layout: default
---

<section class="introduction">
  <h1>These are a few of my favorite things—and people, and places</h1>
</section>

<section class="chicago">
  <h2>My city guide to Chicago</h2>
  <p>Home to some of the most amazing talent I know, and good food to boot. If you ever swing through my city, be sure to <a href="/loves/chicago" title="A collection of all of Mig’s favorite Chicago places">check out my favorite bars, coffee shops, and restaurants</a>.</p>
</section>

<section class="friends">
  <h2>Friends who influence me</h2>
  <p>These are some of the amazingly talented people have shaped my work, thoughts, and career. I’m lucky enough to call them my colleagues, drinking partners, and friends.</p>

  <ul class="design">
    <h5>Design</h5>
    {% for friend in site.data.friends %}
      {% if friend.industry == "design" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="photo">
    <h5>Photo &amp; Video</h5>
    {% for friend in site.data.friends %}
      {% if friend.industry == "photo" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="illustration">
    <h5>Type &amp; Illustration</h5>
    {% for friend in site.data.friends %}
      {% if friend.industry == "illustration" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="web">
    <h5>Web &amp; Product</h5>
    {% for friend in site.data.friends %}
      {% if friend.industry == "web" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="writing">
    <h5>Writing</h5>
    {% for friend in site.data.friends %}
      {% if friend.industry == "writing" %}
        <li><a href="http://{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="books">
  <h2>Books worth reading</h2>
  <p>From books that have shaped me as a designer since my college days, to recent discoveries recommended by friends and co-workers, this is my recommended reading list.</p>

  <ul>
  {% for book in site.data.books %}
    <li>
      <a href="{{ book.url }}">
        <img src="/assets/images/books/{{ book.name }}.jpg">

        <div>
          <h6>{{ book.name }}</h6>
          <em>{{ book.author }}</em>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<section class="apps">
  <h2>Apps I can’t live without</h2>

  <ul>
  {% for app in site.data.apps %}
    <li>
      <a href="{{ app.url }}" target="_blank">{{ app.name }}</a> {{ app.info }}
    </li>
  {% endfor %}
  </ul>
</section>