// Chicago ——————————————————————————————————— •
// ——————————————————————————————————————————— •

.loves-chicago section {
  position: relative;

  h3 {
    color: $color-spot;
    margin-bottom: .5em;
  }

  ul { margin-top: 1em; }
  li { font-family: $font-sans; }
}

.chicago-introduction figure {
  margin: 0 auto 1em;
  width: 25%;

  img {
    height: auto;
    width: 100%;
  }
}

.chicago-introduction,
.chicago-coffee,
.chicago-bars,
.chicago-restaurants,
.chicago-stores,
.chicago-friends { margin-bottom: 3em; }


// Chicago: Tablet ——————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  .chicago-introduction h1 {
    margin-left: 33.333%;
    padding-top: 4em;
    width: 50%;
  }

  .chicago-coffee {
    margin-bottom: 6em;
    margin-top: 5em;
    margin-left: 33.333%;
    width: 50%;
  }

  .chicago-bars {
    margin-bottom: 8em;
    width: 50%;
  }

  .chicago-restaurants {
    margin-bottom: 8em;
    margin-left: 50%;
  }

  .chicago-stores {
    margin-bottom: 10em;
    margin-left: 16.667%;
    width: 50%;
  }

  .chicago-friends {
    margin-left: 33.333%;
    margin-bottom: 8em;

    p { margin-bottom: 1em; }

    li {
      display: inline-block;
      font-family: $font-sans;
      margin-right: .1em;

      &:after {
        content: " /";
        color: #CCC;
      }

      &:last-child:after { content: ""; }
    }
  }

  .ephemera.caffeine {
    @include backface-visibility;
    @include transform-origin(left top);
    right: -10em;
    bottom: -2em;
  }

  .ephemera.make {
    bottom: -4em;
    right: 0;
    width: 180px;
  }

  .ephemera.look {
    right: 5%;
    bottom: -2em;
  }
}


// Chicago: Desktop —————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
  .chicago-introduction figure {
    display: block;
    position: absolute;
    left: 12%;
    margin: 0;
    width: 15%;
    z-index: -1986;
  }
}