// Resources ————————————————————————————————— •
// ——————————————————————————————————————————— •

body.loves {

  h2 { margin-bottom: .25em; }

  section.introduction figure { display: none; }
}

// Resources: Tablet ————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  body.loves {

    h1 {
      margin-left: 16.667%;
      padding-top: 5em;
      width: 66.667%;
    }

    h3 { margin-bottom: .75em; }

    section.guide {
      margin-bottom: 8em;
      margin-left: 16.667%;
      margin-top: 5em;
      position: relative;
      width: 50%;

      a { text-decoration: underline; }
      a:visited { color: $color-link; }
    }

    section.friends {
      margin-bottom: 12em;
      position: relative;

      h3, p { margin-left: 16.667%; }

      p {
        margin-bottom: 2em;
        width: 50%;
      }

      ul {
        display: inline-block;
        margin-right: 2%;
        vertical-align: top;
        width: 14.667%;

        &:last-child { margin-right: 0; }

        &.design { margin-left: 16.667%; }
      }

      h5 {
        font-weight: normal;
        margin-bottom: .5em;
      }

      li {
        border-bottom: 1px solid #EEE;
        font-family: $font-sans;
        line-height: 1.1em;
        margin-bottom: .5em;
        padding-bottom: .25em;

        &:last-child { border: none; }
      }
    }

    section.books {
      margin-bottom: 8em;

      p {
        margin-bottom: 2em;
        width: 50%;
      }

      li {
        display: inline-block;
        line-height: 0;
        margin-bottom: 2em;
        margin-right: 2em;
        max-width: 200px;
        width: 20%;
        vertical-align: bottom;
      }

      div {
        height: 60px;
        margin: 0;
      }

      h6 {
        margin-bottom: .75em;
        margin-top: 1em;
        line-height: 1em;
      }

      img {
        max-width: 200px;
        width: 80%;
      }

      a:link h6 { color: #333; }
      a:link em { color: #999; }

      a:hover h6,
      a:hover em,
      a:hover p { color: $color-link; }
    }

    section.apps {
      margin-bottom: 8em;
      margin-left: 33.333%;
      position: relative;

      ul { width: 83.333%; }

      li {
        line-height: 1.25em;
        margin-bottom: 1em;
      }

      a {
        font-family: $font-sans;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    // Ephemera
    .ephemera { display: block; }

    span.chicago {
      bottom: -10%;
      right: -50%;
    }

    span.company {
      bottom: -12em;
      right: -7.5%;
      width: 160px;
    }

    span.share {
      left: -40%;
      top: -2em;
    }
  }
}


// Resources: Desktop ———————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
  body.loves {

    section.introduction {
      position: relative;

      figure {
        display: block;
        position: absolute;
        right: 0;
        width: 33.333%;
        z-index: -1986;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}