// Portfolio ————————————————————————————————— •
// ——————————————————————————————————————————— •

body.portfolio {

  section.projects {
    width: 100%;
  }

  article {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2em;
    vertical-align: bottom;
    width: 14%;

    figure {
      margin: 0 auto;
      width: 100%;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }

  // article.full,
  // article.two-thirds {
  //   display: block;
  // }

  // article.quarter {
  //   margin-right: 2%;
  //   width: 23%;
  // }

  // article.third {
  //   margin-right: 2%;
  //   width: 30%;
  // }

  // article.half {
  //   margin-right: 2%;
  //   width: 47%;
  // }

  // article.two-thirds {
  //   width: 67.667%;
  // }

  // article.full {
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 100%;
  // }

  article.website {
    width: 16%;
    // width: 47%;

    span.chrome-title {
      @include border-radius(3px 3px 0 0);
      background: #eeeeee;
      background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
      background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
      background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
      background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
      background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
      border: 1px solid #CCC;
      border-bottom-color: #999;
      display: block;
      font-family: "Lucida Grande", Helvetica;
      font-size: .7em;
      height: 25px;
      position: relative;
      text-align: center;
      text-shadow: 0 1px 1px white;
      z-index: 1000;
    }

    figure.chrome {
      @include border-radius(0 0 3px 3px);
      // @include box-shadow(0 0 5px rgba(0,0,0,.35));
      border: 1px solid #CCC;
      height: 200px;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;

      img {
        margin-bottom: -1em;
      }
    }

    b {
      font-size: 1.25em;
      position: absolute;
      text-align: left;

      &.red {
        color: #ea4d45;
        left: .25em;
      }

      &.yellow {
        color: #f5b958;
        left: 1em;
      }

      &.green {
        color: #7fb15e;
        left: 1.75em;
      }
    }
  }

  footer {
    margin-bottom: 0;
    padding-bottom: 3em;

    section.contact {
      text-align: center;

      p {
        display: inline;
        margin: 0 1rem;
      }

      small {
        color: #999;
        display: block;
        font-size: .65rem;
        font-weight: bold;
        letter-spacing: .2rem;
        margin-top: .5rem;
        text-transform: uppercase;
      }
    }

    section.links {
      text-align: center;

      a:visited { color: $color-link; }

      a.chicago { display: block; }
    }
  }
}


// Portfolio: Tablet ————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  body.portfolio {

    h1 {
      margin-bottom: 1em;
      margin-top: 4rem;
    }

    [data-behavior="zoomable"]:hover {
      cursor: -webkit-zoom-in;
    }

    article.united-pixelworkers {

    }

    article.blog-wars {

    }
  }
}
