// Portfolio ————————————————————————————————— •
// ——————————————————————————————————————————— •

.portfolio .footer-nav { display: none; }

.project {
  display: block;
  margin-bottom: 1em;
  max-width: 550px;

  img {
    height: auto;
    width: 100%;
  }
}

.project-website {
  @include border-radius(3px);
  @include box-shadow(0 0 4px rgba(0,0,0,.1));
  border: 1px solid #CCC;
  border-top-width: 8px;
  overflow: hidden;

  img {
    @include border-radius(0 0 3px 3px);
    margin: 0 0 -.5em;
  }
}

.project-phone {
  @include border-radius(15px);
  @include box-shadow(0 2px 4px rgba(0,0,0,.5));
  background-color: black;
  padding: 3% 0 3.5%;
  text-align: center;

  img {
    @include border-radius(2px);
    display: inline-block;
    width: 95%;
  }
}

.project-description {
  display: none;

  h3 { margin-bottom: 1em; }
}


// Portfolio: Tablet ————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  .portfolio-dark {
    background-color: #999;
    border-top-color: #333;

    a,
    .ephemera { color: #FFF; }
  }

  .portfolio-introduction {
    display: inline-block;
    float: left;
    margin-top: 10%;
    position: relative;
  }

  .projects { @include clearfix; }

  .project {
    display: inline-block;
    float: left;
    position: relative;
    vertical-align: top;
  }

  .project-description {
    display: inline-block;
    float: left;
  }

  .project-svn { margin-top: 5%; }
  .project-svn-mobile { margin-top: -80%; }
  .project-description-svn { margin-top: -45%; }

  .project-bike { margin-top: -20%; }
  .project-bike-mobile { margin-top: 10%; }
  .project-description-bike { margin-top: 15%; }

  // .project-breeze { margin-top: -22%; }
  // .project-basecamp { margin-top: -10%; }
  // .project-basecamp-help-mobile { margin-top: 10%; }
  // .project-humblepied-mobile { margin-top: -10%; }
  // .project-logo-chestnut { margin-top: -32%; }
  // .project-logo-hive { margin-top: -32%; }
  // .project-logo-dash { margin-top: -17%; }
  // .project-logo-help { margin-top: -45%; }
  // .project-incoming-transmission { margin-top: -11%; }
  // .project-google-city { margin-top: -60%; }

  // Ephemera
  .design-code {
    left: 0;
    top: 8em;
  }
}
