// Missing ——————————————————————————————————— •
// ——————————————————————————————————————————— •

body.missing .content {

  figure {
    margin-bottom: 2em;
    max-width: 3em;
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }

  footer {
    display: none;
  }
}


// Missing: Tablet ——————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  body.missing .content {

    h1 {
      margin-left: 33.333%;
      margin-top: 1em;
    }

    figure {
      margin: 3em 0 0 33.333%;
      width: 3em;
    }

    p {
      margin-left: 33.333%;
      width: 50%;
    }
  }
}