// Blog —————————————————————————————————————— •
// ——————————————————————————————————————————— •

.shares-delicious-links em {
  display: block;
  margin-bottom: 1em;
}

.shares-delicious-link {
  display: block;

  span {
    display: block;
    font-family: $font-sans;
  }

  em { font-style: normal; }

  time {
    color: #999;
    display: block;
    font-size: .9em;

    &:before { content: "— "; }
  }
}

// Blog: Tablet —————————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {

}


// Blog: Ephemera ———————————————————————————— •
// ——————————————————————————————————————————— •

