// Blog —————————————————————————————————————— •
// ——————————————————————————————————————————— •

.shares-delicious-links em {
  display: block;
  margin-bottom: 1em;
}

.shares-delicious-link {
  display: block;
}

// Blog: Tablet —————————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {

}


// Blog: Ephemera ———————————————————————————— •
// ——————————————————————————————————————————— •

