// Writes ———————————————————————————————————— •
// ——————————————————————————————————————————— •

body.writes {

  aside { display: none; }

  section.essays {

    ul { margin-top: 2em; }

    li {
      margin-bottom: 2em;

      a {
        margin: 0;
        padding: 0;
        text-decoration: none;

        &:visited { color: #888; }
        &:hover { color: $color-link-hover; }
      }

      a h2 {
        color: #333;
        display: inline-block;
        font-size: 1.25em;
        font-weight: normal;
        margin-bottom: .4em;
        text-decoration: underline;
      }

      a p {
        color: #777;
        font-family: $font-sans;
        line-height: 1.2em;
        margin-bottom: 0;
      }

      a small {
        display: inline-block;
        font-size: .8em;

        &:after { content: " — "; }
        &:last-child:after { content: ""; }
      }

      a small.svn {
        background: url('/assets/images/icons/signals.png') 0 0 no-repeat;
        background-size: 16px 16px;
        padding-bottom: .25em;
        padding-left: 1.5em;
      }

      a small.desktop { display: none; }
    }

    p a:visited { color: $color-link; }
  }
}

// Writes: Tablet ±——————————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  body.writes {

    h1 {
      margin-bottom: 1em;
      margin-left: 16.667%;
      padding-top: 2em;
    }

    section.essays {
      margin-bottom: 6em;
      margin-left: 16.667%;
      position: relative;

      ul {
        margin-top: -.35em;
        margin-bottom: 5em;
      }

      li a h2 {
        font-size: 1.5em;
        letter-spacing: -1px;
        line-height: 1.1em;
        text-decoration: none;
      }

      a p {
        line-height: 1em;
        margin: 0;
      }

      a:hover h2,
      a:hover p {
        color: $color-link-hover;
      }

      li a small.mobile { display: none; }
      li a small.desktop { display: inline; }
      li a small.svn {
        padding-top: .2em;
      }
    }

    aside {
      display: block;
      left: -8em;
      margin-top: .4em;
      position: absolute;

      ul.radios {
        border-bottom: 1px solid #DDD;
        margin-bottom: .75em;
        padding-bottom: .25em;
        width: 100px;

        li { margin-bottom: 0; }
      }

      li {
        cursor: pointer;
        display: block;
        font-family: $font-sans;
        font-size: .9rem;
        position: relative;
        vertical-align: top;
      }

      li span {
        background: url('/assets/images/icons/toggles.png') no-repeat;
        background-size: 34px 28px;
        display: inline-block;
        height: 14px;
        margin-bottom: -2px;
        width: 17px;
      }

      li span.radio { background-position: 0 -14px; }
      li.selected span.radio { background-position: -17px -14px; }

      li span.check { background-position: 0 0; }
      li.selected span.check { background-position: -17px 0; }

      .selected { font-weight: bold; }
    }
  }
}