---
title: Profile
class: about
layout: default
---

<section class="portrait" data-behavior="escapable">
  <figure class="portrait-overlay">
    <img src="/assets/images/mig-original.jpg">
    <figcaption>Photo by <a href="http://instagram.com/miekd" target="_blank">Maykel Loomans</a> at Brooklyn Beta 2013.</figcaption>
  </figure>
</section>

<section class="biography">
  <article class="long">
    <h1>I’m a designer from Chicago making and breaking the web at 37signals.</h1>

    <p>I live, work, and teach in Chicago. Like my 40 other co-workers, I also enjoy <a href="http://37signals.com/remote" target="_blank">working remotely</a> from my other favorite cities—or even local coffee shops.</p>
    <p>At 37signals, I split my work between product and marketing design for <a href="http://basecamp.com" target="_blank">Basecamp</a>. I work on new features, improve conversion and retention of our customers, shape the 37signals voice through no-bullshit marketing, all the way to new app and product prototyping. We experiment often, and treat our work <a href="http://37svn.com/3646" target="_blank">like scientists</a>.</p>
    <p>Before 37signals, I cut my teeth as the first full-time interactive designer at Threadless. There, I learned how to take care of your community and try new ideas, no matter how weird. Leading up to Threadless, I toughened my skin working at studios and agencies making work for clients including AIGA, Google, Harley-Davidson, Rand McNally, Sears, SC Johnson, and Valspar.</p>
    <p>Teaching, mentoring, and community outreach make up the latter half of my time. I started and managed the <a href="http://creativemornings.com/cities/chi" target="_blank">Chicago chapter</a> of CreativeMornings for two years, and have since passed the reigns to my friends at Knoed. I also serve as a mentor within design, tech, and startup organizations.</p>
    <p>I prefer a strong whiskey, a hoppy beer, and a savory slice of pizza.</p>

    <p data-bio=".short" data-toggle="bio">TL;DR?</p>
  </article>

  <article class="short">
    <h1>Designer at 37signals</h1>

    <p>
      I help make Basecamp better. Formerly Threadless, and an agency refugee.
      Beliefs: designers should code, work hard, build your community. &hearts; Chicago.
    </p>

    <p data-bio=".long" data-toggle="bio">More?</p>
  </article>

  <div class="portrait-thumbnails">
    <img src="/assets/images/mig-blue.png">

    <figure class="portrait-toggle">
      <img src="/assets/images/mig-black.png">
      <figcaption>Photo by <a href="http://instagram.com/miekd" target="_blank">Maykel Loomans</a></figcaption>
    </figure>
  </div>

  <span class="ephemera clockwise" id="midwest">Roll your sleeves up,<br>Midwest pride</span>
</section>

<section class="teaching">
  <article>
    <hgroup>
      <h2>Teaching</h2>
      <h3>Shaping beginners…</h3>
    </hgroup>

    <p>I teach absolute beginners the fundamentals of graphic design and visual patterns at The Starter League. Prior, I taught art direction, design, and professional practices at The Chicago Portfolio School.</p>
  </article>

  <span class="ephemera counter-clockwise" id="give">Give more than you take</span>
</section>

<section class="kudos">
  <article class="speaking">
    <hgroup>
      <h2>Speaking</h2>
      <h3>Sharing experiences at…</h3>
    </hgroup>

    <ul>
      {% for talk in site.data.talks %}
        <li>
          <h4>{{ talk.title }}</h4>
          <p>{{ talk.location }}</p>
          {% if talk.video %}<span><a href="{{ talk.video }}" target="_blank">View video</a></span>{% endif %}
          {% if talk.photos %}<span><a href="{{ talk.photos }}" target="_blank">View photos</a></span>{% endif %}
          {% if talk.recap %}<span><a href="{{ talk.recap }}" target="_blank">View recap</a></span>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </article>

  <article class="interviews">
    <hgroup>
      <h2>Select interviews</h2>
      <h3>On craft and culture…</h3>
    </hgroup>

    <ul>
      <li><a href="http://the-niche.com/MIG-REYES">The Niche</a></li>
      <li><a href="http://www.papermag.com/2011/01/mig_reyeswwwe_could_be_next.php">PAPERMAG</a></li>
      <li><a href="http://www.neenahpaperblog.com/2009/12/migreyes/">Neenah Paper</a></li>
    </ul>
  </article>

  <article class="press">
    <hgroup>
      <h2>Press</h2>
      <h3>As recognized with…</h3>
    </hgroup>

    <ul>
      <li>AIGA</li>
      <li>CMYK Magazine</li>
      <li>Coudal</li>
      <li>Grain Edit</li>
      <li>HOW Magazine</li>
      <li>Motionographer</li>
      <li>Print (Nominated for 20 under 20)</li>
      <li>siteInspire</li>
      <li>Smashing Magazine</li>
      <li>The Society of Typographic Arts</li>
      <li>Swissmiss</li>
      <li>UnderConsideration</li>
    </ul>
  </article>

  <article class="print">
    <hgroup>
      <h2>Publications</h2>
      <h3>Work printed in…</h3>
    </hgroup>

    <ul>
      <li>
        <h3><a href="http://amzn.com/1440313695">Mastering Type</a></h3>
        Denise Bosler
      </li>
      <li>
        <h3><a href="http://underconsideration.com/flaunt/">Flaunt</a></h3>
        UnderConsideration
      </li>
      <li>
        <h3><a href="http://www.amazon.com/gp/product/0811869032?ie=UTF8&tag=migrey-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0811869032" target="_blank">The Graphic Eye</a></h3>
        Stefan Bucher, Chronicle Books
      </li>
      <li>
        <h3><a href="http://www.amazon.com/gp/product/1592535453?ie=UTF8&tag=migrey-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1592535453" target="_blank">Really Good Packaging Explained</a></h3>
        Rockport Publishers
      </li>
      <li>
        <h3><a href="http://www.amazon.com/gp/product/1600611478?ie=UTF8&tag=migrey-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1600611478" target="_blank">Creative Grab Bag</a></h3>
        Ethan Bodnar, HOW Books
      </li>
      <li>
        <h3><a href="http://www.amazon.com/gp/product/1600613020?ie=UTF8&tag=migrey-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1600613020" target="_blank">Freelance Design in Practice</a></h3>
        Cathy Fishel
      </li>
      <li>
        <h3><a href="http://www.amazon.com/gp/product/1592535801?ie=UTF8&tag=migrey-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1592535801" target="_blank">LogoLounge IV</a></h3>
        Bill Gardner, Rockport Publishers
      </li>
    </ul>
  </article>

  <span class="ephemera large" id="dash">—</span>
  <span class="ephemera large" id="slash">/</span>
  <span class="ephemera slant" id="nice">Be human, be nice</span>
</section>

<section class="colophon">
  <hgroup>
    <h2>Colophon</h2>
    <h3>About this site…</h3>
  </hgroup>

  <p>This site is designed with a six-column grid from <a href="http://37signals.com/svn/posts/1061-why-we-skip-photoshop" target="_blank">sketch to code</a>. Programmed with <a href="http://www.sublimetext.com/2" target="_blank">Sublime Text 2</a> using <a href="http://jekyllrb.com" target="_blank">Jekyll</a>, SCSS, jQuery paired with <a href="http://coffeescript.org" target="_blank">CoffeeScript</a>, and <a href="http://rake.rubyforge.org" target="_blank">Rake</a> tasks for compilation and deployment to Dreamhost. Version controlled with Git on <a href="http://github.com/migreyes">GitHub</a>. The body typeface is <a href="https://typekit.com/fonts/ff-tisa-web-pro" target="_blank">FF Tisa</a> served via Typekit, while the complimentary sans-serif is <a href="http://www.fontshop.com/fonts/family/alto/" target="_blank">Alto</a> by OurType. Photoshop and Illustrator fired up for imagery. No frameworks, get weird.</p>

  <span class="ephemera" id="est">Est. 1986</span>
</section>